<section class="page-section gradient-overlay" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Best Seller</h2>
    </div>
    <ul class="timeline">
      <li>
        <a href="../../assets/img/1.jpg" target="_blank">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="../../assets/img/1.jpg" alt="..." />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Family Rooms</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Create unforgettable family memories in our spacious and comfortable family rooms. Designed with your family's needs in mind, our family rooms provide ample space and cozy beds for everyone. Enjoy quality time together while still having the privacy you desire. Book a family room today and make your family vacation truly special.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/2.jpg" target="_blank">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="../../assets/img/2.jpg" alt="..." />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Suites</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Indulge in luxury and sophistication with our exquisite suites. Experience the epitome of comfort and elegance as you relax in the spacious living area, unwind in the plush bedroom, and pamper yourself in the luxurious bathroom. Our suites offer a perfect blend of style and functionality, ensuring an unforgettable stay. Treat yourself to the ultimate luxury by reserving one of our exclusive suites</p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/3.jpg" target="_blank">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="../../assets/img/3.jpg" alt="..." />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Resorts</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Escape to paradise at our stunning resort hotel. Immerse yourself in a world of relaxation and adventure as you enjoy our pristine pools, rejuvenating spa treatments, and delectable dining options. With a wide range of recreational activities and breathtaking surroundings, our resort hotel offers the perfect getaway for families, couples, and solo travelers alike. Experience the ultimate vacation at our exquisite resort</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/4.jpg" target="_blank">
          <div class="timeline-image">
            <img class="rounded-circle img-fluid" src="../../assets/img/4.jpg" alt="..." />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Luxury</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Indulge in opulence and sophistication at our luxurious hotel. From the moment you step into our elegant lobby, you'll be immersed in a world of refined comfort and exceptional service. Our meticulously designed rooms and suites offer the finest amenities, ensuring a truly lavish stay. Indulge in gourmet dining, unwind in our lavish spa, and experience unparalleled luxury throughout your stay. Discover the epitome of elegance at our luxury hotel.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4> Be Part <br /> Of Our <br /> Hotel! </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
